<div class="form-wrapper">
  <%= simple_form_for(event) do |f| %>
    <%= f.input :debut, label: "Sélectionne tes dates",
                        as: :string,
                        required: false,
                        input_html: { id: "range_start", class:  "d-none" } %>
    <%= f.input :lieu, label: false,
                        placeholder: "Où ..." %>
    <%= f.input :description, label: false,
                              placeholder: "Quelque chose à ajouter ?" %>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>
</div>
