<div class="form">
  <%= simple_form_for(event) do |f| %>
    <%= f.input :debut %>
    <%= f.input :fin %>
    <%= f.input :lieu %>
    <%= f.input :description %>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>
</div>
