<div class="container py-5">
  <h1>All GeekSquad :</h1>
  <ul>
    <% @events.each do |event|  %>
        <li>
          <%= link_to "Geeksquad n°#{event.id} à #{event.lieu}", event_path(event) %>
          <%= link_to "Update", events_path, class:"btn btn-warning"%>
          <%= link_to "Delete", event_path(event), method: :delete,
                                                data: {confirm: "Are you sure"},
                                                class:"btn btn-danger"%>
        </li>
      <div class="d-none edit">
        <h1>Modifie les infos de ton event</h1>
        <%= render "form", event: event %>
    </div>
    <% end %>
  </ul>
  <div class="new">
    <h1>Créer le prochain event!</h1>
    <%= render "form", event: @event %>
  </div>
</div>
