<div class="container py-5">
  <h1>All GeekSquad :</h1>
  <ul>
    <% @events.each do |event|  %>
        <li>
          <%= "Geeksquad à #{event.lieu} le #{event.debut} "%>
          <%= link_to "Détails", event_path(event), class:"btn btn-success"%>
          <%= link_to "Modifier", events_path, class:"btn btn-warning"%>
          <%= link_to "Supprimer", event_path(event), method: :delete,
                                                data: {confirm: "Are you sure"},
                                                class:"btn btn-danger"%>
        </li>
      <div class="d-none edit">
        <h1>Modifie les infos de ton event</h1>
        <%= render "form", event: event %>
    </div>
    <% end %>
  </ul>
  <div class="new">
    <h1>Créer le prochain event!</h1>
    <%= render "form", event: @event %>
  </div>
  <div id="event-form-div"
     data-events="<%= @events_dates.to_json %>">
  </div>
</div>
