<div class="container py-5">
<div class="details">
  <p>Lieu :<%= @event.lieu %></p>
  <p>Début :<%= @event.debut %></p>
  <p>Fin :<%= @event.fin %></p>
  <p>Description :<%= @event.description %></p>
</div>
  <%= link_to "Rejoindre", event_participants_path(@event), method: :post, class: "btn btn-success" %>
  <%= link_to "Retour", events_path, class: "btn btn-primary" %>
</div>

<h2>Participants</h2>
<ul>
  <% @participants.each do |participant| %>
    <li><%= participant.user.prenom %> "<%= participant.user.pseudo %>" <%= participant.user.nom %></li>
  <% end  %>
</ul>
